@font-face {
    font-family: 'RockwellRegular';
    src: url('rock.eot');
    src: url('rock.eot') format('embedded-opentype'),
         url('rock.woff') format('woff'),
         url('rock.ttf') format('truetype'),
         url('rock.svg#RockwellRegular') format('svg');
}
